In [1]:
import pandas as pd
import numpy as np

In [2]:
data=pd.read_csv('movie_metadata.csv')

In [3]:
data.head(3)

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000

In [4]:
data.columns

Index(['color', 'director_name', 'num_critic_for_reviews', 'duration',
       'director_facebook_likes', 'actor_3_facebook_likes', 'actor_2_name',
       'actor_1_facebook_likes', 'gross', 'genres', 'actor_1_name',
       'movie_title', 'num_voted_users', 'cast_total_facebook_likes',
       'actor_3_name', 'facenumber_in_poster', 'plot_keywords',
       'movie_imdb_link', 'num_user_for_reviews', 'language', 'country',
       'content_rating', 'budget', 'title_year', 'actor_2_facebook_likes',
       'imdb_score', 'aspect_ratio', 'movie_facebook_likes'],
      dtype='object')

In [5]:
data=data.loc[:,['director_name','actor_1_name', 'actor_2_name','actor_3_name','genres','movie_title']]

In [6]:
data.head(1)

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action|Adventure|Fantasy|Sci-Fi,Avatar

In [7]:
data['director_name'] = data['director_name'].replace(np.nan, 'unknown')
data['actor_1_name'] = data['actor_1_name'].replace(np.nan, 'unknown')
data['actor_2_name'] = data['actor_2_name'].replace(np.nan, 'unknown')
data['actor_3_name'] = data['actor_3_name'].replace(np.nan, 'unknown')

In [8]:
data['genres'] = data['genres'].str.replace('|', ' ')

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will*not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [9]:
data['movie_title'] = data['movie_title'].str.lower()

In [10]:
data['movie_title'] = data['movie_title'].apply(lambda x : x[:-1])

In [11]:
data['movie_title'][1:20]

1              pirates of the caribbean: at world's end
2                                               spectre
3                                 the dark knight rises
4     star wars: episode vii - the force awakens    ...
5                                           john carter
6                                          spider-man 3
7                                               tangled
8                               avengers: age of ultron
9                harry potter and the half-blood prince
10                   batman v superman: dawn of justice
11                                     superman returns
12                                    quantum of solace
13           pirates of the caribbean: dead man's chest
14                                      the lone ranger
15                                         man of steel
16             the chronicles of narnia: prince caspian
17                                         the avengers
18          pirates of the caribbean: on stranger tides
19                                       men in black 3
Name: movie_title, dtype: object

In [12]:
credits = pd.read_csv('credits.csv')

In [13]:
meta = pd.read_csv('movies_metadata.csv')

/snap/jupyter/6/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (10) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [14]:
meta["genres"][1]

"[{'id': 12, 'name': 'Adventure'}, {'id': 14, 'name': 'Fantasy'}, {'id': 10751, 'name': 'Family'}]"

In [15]:
meta

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

In [16]:

meta['release_date'] = pd.to_datetime(meta['release_date'], errors='coerce')

In [17]:
meta['year'] = meta['release_date'].dt.year

In [18]:
meta['year'].value_counts().sort_index()

1874.0       1
1878.0       1
1883.0       1
1887.0       1
1888.0       2
          ...
2015.0    1905
2016.0    1604
2017.0     532
2018.0       5
2020.0       1
Name: year, Length: 135, dtype: int64

In [19]:
meta1 = meta.loc[meta.year == 2017,['genres','id','title','year']]

In [20]:
meta1

,genres,id,title,year
26560,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0
26561,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141052,Justice League,2017.0
26565,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",284053,Thor: Ragnarok,2017.0
26566,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",283995,Guardians of the Galaxy Vol. 2,2017.0
30536,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",245842,The King's Daughter,2017.0
...,...,...,...,...
45398,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",468707,Thick Lashes of Lauri Mäntyvaara,2017.0
45417,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",461297,Cop and a Half: New Recruit,2017.0
45437,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",455661,In a Heartbeat,2017.0
45453,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",404604,Mom,2017.0
45465,[],461257,Queerama,2017.0

In [21]:
meta1['id'] = meta1['id'].astype(int)

In [22]:
data1 = pd.merge(meta1, credits, on='id')

In [23]:
data1

,genres,id,title,year,cast,crew
0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",166426,Pirates of the Caribbean: Dead Men Tell No Tales,2017.0,"[{'cast_id': 1, 'character': 'Captain Jack Spa...","[{'credit_id': '52fe4c9cc3a36847f8236a65', 'de..."
1,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",141052,Justice League,2017.0,"[{'cast_id': 2, 'character': 'Bruce Wayne / Ba...","[{'credit_id': '55ef66dbc3a3686f1700a52d', 'de..."
2,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",284053,Thor: Ragnarok,2017.0,"[{'cast_id': 0, 'character': 'Thor Odinson', '...","[{'credit_id': '56a93fa4c3a36872db001e7a', 'de..."
3,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",283995,Guardians of the Galaxy Vol. 2,2017.0,"[{'cast_id': 3, 'character': 'Peter Quill / St...","[{'credit_id': '59171547925141583c0315a6', 'de..."
4,"[{'id': 14, 'name': 'Fantasy'}, {'id': 28, 'na...",245842,The King's Daughter,2017.0,"[{'cast_id': 0, 'character': 'King Louis XIV',...","[{'credit_id': '5431de49c3a36825d300007e', 'de..."
...,...,...,...,...,...,...
526,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",468707,Thick Lashes of Lauri Mäntyvaara,2017.0,"[{'cast_id': 0, 'character': 'Satu', 'credit_i...","[{'credit_id': '597e22f69251415d7801c74a', 'de..."
527,"[{'id': 80, 'name': 'Crime'}, {'id': 35, 'name...",461297,Cop and a Half: New Recruit,2017.0,"[{'cast_id': 0, 'character': 'Detective Simmon...","[{'credit_id': '593ba0c29251410593009be3', 'de..."
528,"[{'id': 10751, 'name': 'Family'}, {'id': 16, '...",455661,In a Heartbeat,2017.0,[],"[{'credit_id': '5981a15c92514151e0011b51', 'de..."
529,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",404604,Mom,2017.0,"[{'cast_id': 1, 'character': 'Devki Sabarwal',...","[{'credit_id': '58ee55bbc3a3683df500bd0f', 'de..."
530,[],461257,Queerama,2017.0,[],"[{'credit_id': '593e676c92514105b702e68e', 'de..."

In [24]:
pd.set_option('display.max_colwidth', 75)

In [25]:
import ast
data1['genres'] = data1['genres'].map(lambda x: ast.literal_eval(x))
data1['cast'] = data1['cast'].map(lambda x: ast.literal_eval(x))
data1['crew'] = data1['crew'].map(lambda x: ast.literal_eval(x))

In [26]:

def make_genresList(x):
    gen = []
    st = " "
    for i in x:
        if i.get('name') == 'Science Fiction':
            scifi = 'Sci-Fi'
            gen.append(scifi)
        else:
            gen.append(i.get('name'))
    if gen == []:
        return np.NaN
    else:
        return (st.join(gen))

In [27]:
data1['genres_list'] = data1['genres'].map(lambda x: make_genresList(x))

In [28]:
p=data1['cast'][1]
p

[{'cast_id': 2,
  'character': 'Bruce Wayne / Batman',
  'credit_id': '535e68db0e0a264fe10065f5',
  'gender': 2,
  'id': 880,
  'name': 'Ben Affleck',
  'order': 0,
  'profile_path': '/cPuPt6mYJ83DjvO3hbjNGug6Fbi.jpg'},
 {'cast_id': 1,
  'character': 'Clark Kent / Superman',
  'credit_id': '535e68ce0e0a264fe5006939',
  'gender': 2,
  'id': 73968,
  'name': 'Henry Cavill',
  'order': 1,
  'profile_path': '/h8bn6ybR5Hu58UGJGwb66nrOagV.jpg'},
 {'cast_id': 3,
  'character': 'Diana Prince / Wonder Woman',
  'credit_id': '535e68fb0e0a264fe10065fa',
  'gender': 1,
  'id': 90633,
  'name': 'Gal Gadot',
  'order': 2,
  'profile_path': '/34kHAyBaBhq2kUrmhM15paEBuuI.jpg'},
 {'cast_id': 9,
  'character': 'Arthur Curry / Aquaman',
  'credit_id': '5447be300e0a261120002217',
  'gender': 2,
  'id': 117642,
  'name': '杰森·莫玛',
  'order': 3,
  'profile_path': '/tTONqzQuAnuMlfM5E0nU9RWukOE.jpg'},
 {'cast_id': 7,
  'character': 'Barry Allen / The Flash',
  'credit_id': '543ec9a1c3a3684fe9000178',
  'gender': 2,
  'id': 132157,
  'name': 'Ezra Miller',
  'order': 4,
  'profile_path': '/1tgihUq8F6zPHU9IYyRZ7vI6nme.jpg'},
 {'cast_id': 8,
  'character': 'Victor Stone / Cyborg',
  'credit_id': '543ec9d2c3a3684fd50001a8',
  'gender': 2,
  'id': 1313559,
  'name': 'Ray Fisher',
  'order': 5,
  'profile_path': '/130RBXNLxbp6DbzVFQT90RFLmxD.jpg'},
 {'cast_id': 27,
  'character': 'Steppenwolf',
  'credit_id': '581f3983c3a3685fe600633f',
  'gender': 2,
  'id': 8785,
  'name': 'Ciarán Hinds',
  'order': 6,
  'profile_path': '/h5n8B12WoY1UAZjzSVEup4vsoBw.jpg'},
 {'cast_id': 25,
  'character': 'Lex Luthor',
  'credit_id': '578ffa91925141343e004d56',
  'gender': 2,
  'id': 44735,
  'name': 'Jesse Eisenberg',
  'order': 7,
  'profile_path': '/qTvksu7NaWL3prXTe2JrFYU4gHo.jpg'},
 {'cast_id': 10,
  'character': 'Lois Lane',
  'credit_id': '5447be450e0a2672da0026aa',
  'gender': 1,
  'id': 9273,
  'name': 'Amy Adams',
  'order': 8,
  'profile_path': '/5lYjMXl7xhG4gUu1XYqh6Dsni2K.jpg'},
 {'cast_id': 16,
  'character': 'Mera',
  'credit_id': '569762e8c3a3683af0001a74',
  'gender': 1,
  'id': 55085,
  'name': 'Amber Heard',
  'order': 9,
  'profile_path': '/ft4ACLVFBXaOotbicBLm1fODyZr.jpg'},
 {'cast_id': 18,
  'character': 'Commissioner James Gordon',
  'credit_id': '56de589d92514157550001f1',
  'gender': 2,
  'id': 18999,
  'name': 'J.K. Simmons',
  'order': 10,
  'profile_path': '/jPoNW5fugs5h8AbcE7H5OBm04Tm.jpg'},
 {'cast_id': 22,
  'character': 'Alfred Pennyworth',
  'credit_id': '578ffa639251411da7003016',
  'gender': 2,
  'id': 16940,
  'name': 'Jeremy Irons',
  'order': 11,
  'profile_path': '/dulUTsivRm5XC7hWCYm54rjqWDs.jpg'},
 {'cast_id': 23,
  'character': 'Nuidis Vulko',
  'credit_id': '578ffa77c3a3685c8c0049cb',
  'gender': 2,
  'id': 5293,
  'name': 'Willem Dafoe',
  'order': 12,
  'profile_path': '/xM5lhOR5tWWdIlFpBDeZJx9opIP.jpg'},
 {'cast_id': 45,
  'character': 'Martha Kent',
  'credit_id': '58952dd492514129c8000679',
  'gender': 1,
  'id': 2882,
  'name': 'Diane Lane',
  'order': 13,
  'profile_path': '/tUPAKAtstqeQrAKhkQge9jV7Owz.jpg'},
 {'cast_id': 46,
  'character': 'Queen Hippolyta',
  'credit_id': '58952e09c3a36808a20041e9',
  'gender': 1,
  'id': 935,
  'name': 'Connie Nielsen',
  'order': 14,
  'profile_path': '/lvQypTfeH2Gn2PTbzq6XkT2PLmn.jpg'},
 {'cast_id': 28,
  'character': 'Iris West',
  'credit_id': '5827bd869251417b23020298',
  'gender': 1,
  'id': 1253355,
  'name': 'Kiersey Clemons',
  'order': 15,
  'profile_path': '/sOXELJHizB1cK0OzWRubGGg4l8S.jpg'},
 {'cast_id': 48,
  'character': 'Henry Allen',
  'credit_id': '58d69aa492514103d202bbf4',
  'gender': 2,
  'id': 8289,
  'name': 'Billy Crudup',
  'order': 16,
  'profile_path': '/pYblSarjmmIUggmOafanD2yk0Zj.jpg'},
 {'cast_id': 49,
  'character': 'Silas Stone',
  'credit_id': '58d69d02c3a368126f03d546',
  'gender': 2,
  'id': 3977,
  'name': 'Joe Morton',
  'order': 17,
  'profile_path': '/5adJxjbFX2GeuTTCNqc9dg4Twgx.jpg'},
 {'cast_id': 26,
  'character': 'TBA',
  'credit_id': '57d9aa51c3a36852f4007af1',
  'gender': 2,
  'id': 109650,
  'name': 'Julian Lewis Jones',
  'order': 18,
  'profile_path': '/yYB4vsidFakP6oAfeXU3PZvDpM6.jpg'},
 {'cast_id': 33,
  'character': "Lex Luthor's Guard",
  'credit_id': '5840c1329251417d53000a7e',
  'gender': 1,
  'id': 1389198,
  'name': 'Gemma Refoufi',
  'order': 19,
  'profile_path': '/drwGzHpj54bWNZQHUCxrLcOMl1w.jpg'},
 {'cast_id': 34,
  'character': 'Air Force Security Officer',
  'credit_id': '5840c14bc3a36865c9000a15',
  'gender': 0,
  'id': 1717128,
  'name': 'Kelly Burke',
  'order': 20,
  'profile_path': '/x3cZAtZPkoEIisvPGxbrU8U4nkp.jpg'},
 {'cast_id': 35,
  'character': 'Paramedic Gotham City Hospital',
  'credit_id': '5840c16e9251417d5c000a3c',
  'gender': 0,
  'id': 1417539,
  'name': 'Paulina Boneva',
  'order': 21,
  'profile_path': '/h79tJ7YXrTmjOnRC6eSwyaUg1OU.jpg'},
 {'cast_id': 64,
  'character': 'Front Row Football Fan',
  'credit_id': '593a7588c3a368230500b742',
  'gender': 1,
  'id': 1717130,
  'name': 'Alexandra Ford',
  'order': 22,
  'profile_path': '/fbQWfmYoEMV6ixYSLCjYL2RhztS.jpg'},
 {'cast_id': 42,
  'character': 'Menalippe',
  'credit_id': '5840c2a4c3a36865b6000b22',
  'gender': 1,
  'id': 1310711,
  'name': 'Lisa Loven Kongsli',
  'order': 23,
  'profile_path': '/pwT0UuQ1tsleh3urfabVRj0UE3S.jpg'},
 {'cast_id': 43,
  'character': 'Epione',
  'credit_id': '5840c3109251417d59000b13',
  'gender': 0,
  'id': 62976,
  'name': 'Eleanor Matsuura',
  'order': 24,
  'profile_path': '/6ZbBU8ESZw8wTOdmqF9WJd2I9Gt.jpg'},
 {'cast_id': 50,
  'character': 'TBA',
  'credit_id': '58f54390c3a3680e50003f15',
  'gender': 2,
  'id': 73288,
  'name': 'Michael McElhatton',
  'order': 25,
  'profile_path': '/yNwAo0LGS9fLd6Hathxt0wN6r9O.jpg'},
 {'cast_id': 51,
  'character': 'Ancient Warrior',
  'credit_id': '5921ea3c9251414add05b128',
  'gender': 2,
  'id': 1481440,
  'name': 'Daniel Stisen',
  'order': 26,
  'profile_path': '/jhyIFfBnM5nLhHdpFiGIW6qk9x5.jpg'},
 {'cast_id': 52,
  'character': 'Euboea',
  'credit_id': '5921ea4dc3a368799b05a5fb',
  'gender': 1,
  'id': 1272968,
  'name': 'Samantha Jo',
  'order': 27,
  'profile_path': '/aHUB2vNo5ZbOVnlmqJ4SkUpDXrk.jpg'}]

In [29]:

def get_actor1(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == []:
        return np.NaN
    else:
        return (casts[0])

In [30]:
data1['actor_1_name'] = data1['cast'].map(lambda x: get_actor1(x))

In [31]:

def get_actor2(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=1:
        return np.NaN
    else:
        return (casts[1])

In [32]:
data1['actor_2_name'] = data1['cast'].map(lambda x: get_actor2(x))

In [33]:
def get_actor3(x):
    casts = []
    for i in x:
        casts.append(i.get('name'))
    if casts == [] or len(casts)<=2:
        return np.NaN
    else:
        return (casts[2])

In [34]:
data1['actor_3_name'] = data1['cast'].map(lambda x: get_actor3(x))

In [35]:

data1['actor_1_name']

0               Johnny Depp
1               Ben Affleck
2           Chris Hemsworth
3               Chris Pratt
4            Pierce Brosnan
               ...
526          Inka Haapamäki
527    Lou Diamond Phillips
528                     NaN
529          Sridevi Kapoor
530                     NaN
Name: actor_1_name, Length: 531, dtype: object

In [36]:
data1['actor_2_name']

0       Javier Bardem
1        Henry Cavill
2      Tom Hiddleston
3         Zoe Saldana
4        William Hurt
            ...
526     Rosa Honkonen
527     Wallace Shawn
528               NaN
529         Sajal Ali
530               NaN
Name: actor_2_name, Length: 531, dtype: object

In [37]:

def get_directors(x):
    dt = []
    st = " "
    for i in x:
        if i.get('job') == 'Director':
            dt.append(i.get('name'))
    if dt == []:
        return np.NaN
    else:
        return (st.join(dt))

In [38]:

data1['director_name'] = data1['crew'].map(lambda x: get_directors(x))

In [39]:
movie = data1.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres_list','title']]

In [40]:
movie

,director_name,actor_1_name,actor_2_name,actor_3_name,genres_list,title
0,Joachim Rønning Espen Sandberg,Johnny Depp,Javier Bardem,Geoffrey Rush,Adventure Action Fantasy Comedy,Pirates of the Caribbean: Dead Men Tell No Tales
1,Zack Snyder,Ben Affleck,Henry Cavill,Gal Gadot,Action Adventure Fantasy Sci-Fi,Justice League
2,Taika Waititi,Chris Hemsworth,Tom Hiddleston,Cate Blanchett,Action Adventure Fantasy Sci-Fi,Thor: Ragnarok
3,James Gunn,Chris Pratt,Zoe Saldana,Dave Bautista,Action Adventure Comedy Sci-Fi,Guardians of the Galaxy Vol. 2
4,Sean McNamara,Pierce Brosnan,William Hurt,Benjamin Walker,Fantasy Action Adventure,The King's Daughter
...,...,...,...,...,...,...
526,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Tiitus Rantala,Romance Comedy,Thick Lashes of Lauri Mäntyvaara
527,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Crime Comedy Action Family,Cop and a Half: New Recruit
528,Beth David Esteban Bravo,NaN,NaN,NaN,Family Animation Romance Comedy,In a Heartbeat
529,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Crime Drama Thriller,Mom
530,Daisy Asquith,NaN,NaN,NaN,NaN,Queerama

In [41]:
movie = movie.dropna(how='any')

In [42]:
movie = movie.rename(columns={'genres_list':'genres'})
movie = movie.rename(columns={'title':'movie_title'})

In [43]:
movie['movie_title'] = movie['movie_title'].str.lower()

In [44]:
movie['comb'] = movie['actor_1_name'] + ' ' + movie['actor_2_name'] + ' '+ movie['actor_3_name'] + ' '+ movie['director_name'] +' ' + movie['genres']

In [45]:

data['comb'] = data['actor_1_name'] + ' ' + data['actor_2_name'] + ' '+ data['actor_3_name'] + ' '+ data['director_name'] +' ' + data['genres']

In [46]:
newdata=data.append(movie)

In [47]:
newdata

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James Cameron Action Adventure F...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski Action Adventur...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman Sam Mendes Action Adventu...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt Christopher Nolan Action ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens,Doug Walker Rob Walker unknown Doug Walker Documentary
...,...,...,...,...,...,...,...
524,Jim Strouse,Jessica Williams,Chris O'Dowd,Keith Stanfield,Romance Comedy,the incredible jessica james,Jessica Williams Chris O'Dowd Keith Stanfield Jim Strouse Romance Comedy
525,Farhad Mann,Adelaide Kane,Benjamin Hollingsworth,Jean Louisa Kelly,Romance,can't buy my love,Adelaide Kane Benjamin Hollingsworth Jean Louisa Kelly Farhad Mann Romance
526,Hannaleena Hauru,Inka Haapamäki,Rosa Honkonen,Tiitus Rantala,Romance Comedy,thick lashes of lauri mäntyvaara,Inka Haapamäki Rosa Honkonen Tiitus Rantala Hannaleena Hauru Romance Co...
527,Jonathan A. Rosenbaum,Lou Diamond Phillips,Wallace Shawn,Gina Holden,Crime Comedy Action Family,cop and a half: new recruit,Lou Diamond Phillips Wallace Shawn Gina Holden Jonathan A. Rosenbaum Cr...
529,Ravi Udyawar,Sridevi Kapoor,Sajal Ali,Akshaye Khanna,Crime Drama Thriller,mom,Sridevi Kapoor Sajal Ali Akshaye Khanna Ravi Udyawar Crime Drama Thriller

In [48]:
newdata.drop_duplicates(subset ="movie_title", keep = 'last', inplace = True)

In [49]:
pip install lxml

Requirement already satisfied: lxml in /home/goutham/snap/jupyter/common/lib/python3.7/site-packages (4.6.2)
Note: you may need to restart the kernel to use updated packages.

In [50]:
pip install html5lib

Requirement already satisfied: html5lib in /home/goutham/snap/jupyter/common/lib/python3.7/site-packages (1.1)
Requirement already satisfied: webencodings in /snap/jupyter/6/lib/python3.7/site-packages (from html5lib) (0.5.1)
Requirement already satisfied: six>=1.9 in /snap/jupyter/6/lib/python3.7/site-packages (from html5lib) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [94]:
link1 = "https://en.wikipedia.org/wiki/List_of_American_films_of_2018"

In [57]:
pip install requests

Collecting requests
  Downloading https://files.pythonhosted.org/packages/29/c1/24814557f1d22c56d50280771a17307e6bf87b70727d975fd6b2ce6b014a/requests-2.25.1-py2.py3-none-any.whl (61kB)
     |████████████████████████████████| 61kB 881kB/s eta 0:00:01
Collecting urllib3<1.27,>=1.21.1 (from requests)
  Downloading https://files.pythonhosted.org/packages/f5/71/45d36a8df68f3ebb098d6861b2c017f3d094538c0fb98fa61d4dc43e69b9/urllib3-1.26.2-py2.py3-none-any.whl (136kB)
     |████████████████████████████████| 143kB 1.6MB/s eta 0:00:01
Collecting chardet<5,>=3.0.2 (from requests)
  Downloading https://files.pythonhosted.org/packages/19/c7/fa589626997dd07bd87d9269342ccb74b1720384a4d739a1872bd84fbe68/chardet-4.0.0-py2.py3-none-any.whl (178kB)
     |████████████████████████████████| 184kB 2.0MB/s eta 0:00:01
Collecting idna<3,>=2.5 (from requests)
  Downloading https://files.pythonhosted.org/packages/a2/38/928ddce2273eaa564f6f50de919327bf3a00f091b5baba8dfa9460f3a8a8/idna-2.10-py2.py3-none-any.whl (58kB)
     |████████████████████████████████| 61kB 1.9MB/s eta 0:00:01
Requirement already satisfied: certifi>=2017.4.17 in /snap/jupyter/6/lib/python3.7/site-packages (from requests) (2019.3.9)
Installing collected packages: urllib3, chardet, idna, requests
Successfully installed chardet-4.0.0 idna-2.10 requests-2.25.1 urllib3-1.26.2
Note: you may need to restart the kernel to use updated packages.

In [62]:
import requests
import pandas as pd

url = 'https://en.wikipedia.org/wiki/List_of_American_films_of_2018'
html = requests.get(url).content
df1 = pd.read_html(html, header=0)[2]
df2 = pd.read_html(html, header=0)[3]
df3 = pd.read_html(html, header=0)[4]
df4 = pd.read_html(html, header=0)[5]

In [63]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [68]:
pip install tmdbv3api

Collecting tmdbv3api
  Downloading https://files.pythonhosted.org/packages/6c/f5/3bf81b8bdb86a1251a5276f0ad8099bff9c981f36bf05684e0fe02c6db92/tmdbv3api-1.7.3-py2.py3-none-any.whl
Requirement already satisfied: requests in /home/goutham/snap/jupyter/common/lib/python3.7/site-packages (from tmdbv3api) (2.25.1)
Requirement already satisfied: idna<3,>=2.5 in /home/goutham/snap/jupyter/common/lib/python3.7/site-packages (from requests->tmdbv3api) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in /snap/jupyter/6/lib/python3.7/site-packages (from requests->tmdbv3api) (2019.3.9)
Requirement already satisfied: chardet<5,>=3.0.2 in /home/goutham/snap/jupyter/common/lib/python3.7/site-packages (from requests->tmdbv3api) (4.0.0)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /home/goutham/snap/jupyter/common/lib/python3.7/site-packages (from requests->tmdbv3api) (1.26.2)
Installing collected packages: tmdbv3api
Successfully installed tmdbv3api-1.7.3
Note: you may need to restart the kernel to use updated packages.

In [72]:
from tmdbv3api import TMDb
import json
import requests
tmdb = TMDb()
tmdb.api_key = 'f0e331a1a5cf42dafa2bd47330d2d53d'

In [73]:
from tmdbv3api import Movie
tmdb_movie = Movie()
def get_genre(x):
    genres = []
    result = tmdb_movie.search(x)
    movie_id = result[0].id
    response = requests.get('https://api.themoviedb.org/3/movie/{}?api_key={}'.format(movie_id,tmdb.api_key))
    data_json = response.json()
    if data_json['genres']:
        genre_str = " " 
        for i in range(0,len(data_json['genres'])):
            genres.append(data_json['genres'][i]['name'])
        return genre_str.join(genres)
    else:
        np.NaN

In [74]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))

In [75]:
df

,Opening,Opening.1,Title,Production company,Cast and crew,Ref.,genres
0,JANUARY,5,Insidious: The Last Key,Universal Pictures / Blumhouse Productions / Stage 6 Films,"Adam Robitel (director); Leigh Whannell (screenplay); Lin Shaye, Angus ...",[2],Horror Mystery Thriller
1,JANUARY,5,The Strange Ones,Vertical Entertainment,Lauren Wolkstein (director); Christopher Radcliff (co-director/screenpl...,[3],Thriller Drama
2,JANUARY,5,Stratton,Momentum Pictures,"Simon West (director); Duncan Falconer, Warren Davis II (screenplay); D...",[4],Action Thriller
3,JANUARY,10,Sweet Country,Samuel Goldwyn Films,"Warwick Thornton (director); David Tranter, Steven McGregor (screenplay...",[5],Drama History Western
4,JANUARY,12,The Commuter,Lionsgate / StudioCanal / The Picture Company,"Jaume Collet-Serra (director); Byron Willinger, Philip de Blasi (screen...",[6],Action Thriller
...,...,...,...,...,...,...,...
264,DECEMBER,25,Holmes & Watson,Columbia Pictures / Gary Sanchez Productions,"Etan Cohen (director/screenplay); Will Ferrell, John C. Reilly, Rebecca...",[162],Mystery Adventure Comedy Crime
265,DECEMBER,25,Vice,Annapurna Pictures / Plan B Entertainment,"Adam McKay (director/screenplay); Christian Bale, Amy Adams, Steve Care...",[136],Action Crime Thriller
266,DECEMBER,25,On the Basis of Sex,Focus Features,"Mimi Leder (director); Daniel Stiepleman (screenplay); Felicity Jones, ...",[225],Drama History
267,DECEMBER,25,Destroyer,Annapurna Pictures,"Karyn Kusama (director); Phil Hay, Matt Manfredi (screenplay); Nicole K...",[257],Adventure Fantasy Action
268,DECEMBER,28,Black Mirror: Bandersnatch,Netflix,"David Slade (director); Charlie Brooker (screenplay); Fionn Whitehead, ...",[258],Science Fiction Mystery Drama Thriller TV Movie

In [76]:
df_2018 = df[['Title','Cast and crew','genres']]

In [77]:
def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [78]:
df_2018['director_name'] = df_2018['Cast and crew'].map(lambda x: get_director(x))

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [79]:
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [80]:
df_2018['actor_1_name'] = df_2018['Cast and crew'].map(lambda x: get_actor1(x))

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [81]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [82]:
df_2018['actor_2_name'] = df_2018['Cast and crew'].map(lambda x: get_actor2(x))

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [83]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [84]:
df_2018['actor_3_name'] = df_2018['Cast and crew'].map(lambda x: get_actor3(x))

In [85]:
df_2018 = df_2018.rename(columns={'Title':'movie_title'})

In [86]:
new_df18 = df_2018.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [88]:
new_df18['actor_2_name'] = new_df18['actor_2_name'].replace(np.nan, 'unknown')
new_df18['actor_3_name'] = new_df18['actor_3_name'].replace(np.nan, 'unknown')

In [89]:

new_df18['movie_title'] = new_df18['movie_title'].str.lower()

In [90]:
new_df18['comb'] = new_df18['actor_1_name'] + ' ' + new_df18['actor_2_name'] + ' '+ new_df18['actor_3_name'] + ' '+ new_df18['director_name'] +' ' + new_df18['genres']

In [91]:
new_df18

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,Adam Robitel,Lin Shaye,Angus Sampson,Leigh Whannell,Horror Mystery Thriller,insidious: the last key,Lin Shaye Angus Sampson Leigh Whannell Adam Robitel Horror Mystery Thri...
1,Lauren Wolkstein,Alex Pettyfer,James Freedson-Jackson,Emily Althaus,Thriller Drama,the strange ones,Alex Pettyfer James Freedson-Jackson Emily Althaus Lauren Wolkstein Thr...
2,Simon West,Dominic Cooper,Austin Stowell,Gemma Chan,Action Thriller,stratton,Dominic Cooper Austin Stowell Gemma Chan Simon West Action Thriller
3,Warwick Thornton,Bryan Brown,Sam Neill,unknown,Drama History Western,sweet country,Bryan Brown Sam Neill unknown Warwick Thornton Drama History Western
4,Jaume Collet-Serra,Liam Neeson,Vera Farmiga,Patrick Wilson,Action Thriller,the commuter,Liam Neeson Vera Farmiga Patrick Wilson Jaume Collet-Serra Action Thriller
...,...,...,...,...,...,...,...
264,Etan Cohen,Will Ferrell,John C. Reilly,Rebecca Hall,Mystery Adventure Comedy Crime,holmes & watson,Will Ferrell John C. Reilly Rebecca Hall Etan Cohen Mystery Adventure C...
265,Adam McKay,Christian Bale,Amy Adams,Steve Carell,Action Crime Thriller,vice,Christian Bale Amy Adams Steve Carell Adam McKay Action Crime Thriller
266,Mimi Leder,Felicity Jones,Armie Hammer,Justin Theroux,Drama History,on the basis of sex,Felicity Jones Armie Hammer Justin Theroux Mimi Leder Drama History
267,Karyn Kusama,Nicole Kidman,Sebastian Stan,Toby Kebbell,Adventure Fantasy Action,destroyer,Nicole Kidman Sebastian Stan Toby Kebbell Karyn Kusama Adventure Fantas...
268,David Slade,Fionn Whitehead,Will Poulter,Asim Chaudhry,Science Fiction Mystery Drama Thriller TV Movie,black mirror: bandersnatch,Fionn Whitehead Will Poulter Asim Chaudhry David Slade Science Fiction ...

In [97]:
import requests
import pandas as pd

url = 'https://en.wikipedia.org/wiki/List_of_American_films_of_2019'
html = requests.get(url).content
df1 = pd.read_html(html, header=0)[2]
df2 = pd.read_html(html, header=0)[3]
df3 = pd.read_html(html, header=0)[4]
df4 = pd.read_html(html, header=0)[5]

In [98]:
df = df1.append(df2.append(df3.append(df4,ignore_index=True),ignore_index=True),ignore_index=True)

In [99]:
df['genres'] = df['Title'].map(lambda x: get_genre(str(x)))

In [100]:
df_2019 = df[['Title','Cast and crew','genres']]

In [101]:

def get_director(x):
    if " (director)" in x:
        return x.split(" (director)")[0]
    elif " (directors)" in x:
        return x.split(" (directors)")[0]
    else:
        return x.split(" (director/screenplay)")[0]

In [102]:
df_2019['director_name'] = df_2019['Cast and crew'].map(lambda x: get_director(str(x)))

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [103]:
def get_actor1(x):
    return ((x.split("screenplay); ")[-1]).split(", ")[0])

In [104]:
df_2019['actor_1_name'] = df_2019['Cast and crew'].map(lambda x: get_actor1(x))

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [105]:
def get_actor2(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 2:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[1])

In [106]:
df_2019['actor_2_name'] = df_2019['Cast and crew'].map(lambda x: get_actor2(x))

/snap/jupyter/6/lib/python3.7/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [107]:
def get_actor3(x):
    if len((x.split("screenplay); ")[-1]).split(", ")) < 3:
        return np.NaN
    else:
        return ((x.split("screenplay); ")[-1]).split(", ")[2])

In [108]:
df_2019['actor_3_name'] = df_2019['Cast and crew'].map(lambda x: get_actor3(x))

In [109]:
df_2019 = df_2019.rename(columns={'Title':'movie_title'})

In [110]:
new_df19 = df_2019.loc[:,['director_name','actor_1_name','actor_2_name','actor_3_name','genres','movie_title']]

In [111]:
new_df19['actor_2_name'] = new_df19['actor_2_name'].replace(np.nan, 'unknown')
new_df19['actor_3_name'] = new_df19['actor_3_name'].replace(np.nan, 'unknown')

In [112]:
new_df19['movie_title'] = new_df19['movie_title'].str.lower()

In [113]:

new_df19['comb'] = new_df19['actor_1_name'] + ' ' + new_df19['actor_2_name'] + ' '+ new_df19['actor_3_name'] + ' '+ new_df19['director_name'] +' ' + new_df19['genres']

In [114]:
my_df = new_df18.append(new_df19,ignore_index=True)

In [115]:
final_df = newdata.append(my_df,ignore_index=True)

In [116]:
final_df.to_csv('main_data.csv',index=False)

,director_name,actor_1_name,actor_2_name,actor_3_name,genres,movie_title,comb
0,James Cameron,CCH Pounder,Joel David Moore,Wes Studi,Action Adventure Fantasy Sci-Fi,avatar,CCH Pounder Joel David Moore Wes Studi James Cameron Action Adventure F...
1,Gore Verbinski,Johnny Depp,Orlando Bloom,Jack Davenport,Action Adventure Fantasy,pirates of the caribbean: at world's end,Johnny Depp Orlando Bloom Jack Davenport Gore Verbinski Action Adventur...
2,Sam Mendes,Christoph Waltz,Rory Kinnear,Stephanie Sigman,Action Adventure Thriller,spectre,Christoph Waltz Rory Kinnear Stephanie Sigman Sam Mendes Action Adventu...
3,Christopher Nolan,Tom Hardy,Christian Bale,Joseph Gordon-Levitt,Action Thriller,the dark knight rises,Tom Hardy Christian Bale Joseph Gordon-Levitt Christopher Nolan Action ...
4,Doug Walker,Doug Walker,Rob Walker,unknown,Documentary,star wars: episode vii - the force awakens,Doug Walker Rob Walker unknown Doug Walker Documentary
...,...,...,...,...,...,...,...
5872,Greta Gerwig,Saoirse Ronan,Emma Watson,Florence Pugh,Drama Romance,little women,Saoirse Ronan Emma Watson Florence Pugh Greta Gerwig Drama Romance
5873,Sam Mendes,George MacKay,Dean-Charles Chapman,Mark Strong,War Drama Action Thriller,1917,George MacKay Dean-Charles Chapman Mark Strong Sam Mendes War Drama Act...
5874,Destin Daniel Cretton,Michael B. Jordan,Jamie Foxx,Brie Larson,Drama,just mercy,Michael B. Jordan Jamie Foxx Brie Larson Destin Daniel Cretton Drama
5875,Chinonye Chukwu,Alfre Woodard,Wendell Pierce,Aldis Hodge,Drama,clemency,Alfre Woodard Wendell Pierce Aldis Hodge Chinonye Chukwu Drama
5876,Waymon Boone,Mena Suvari,Kevin Pollak,unknown,Horror Thriller,apparition,Mena Suvari Kevin Pollak unknown Waymon Boone Horror Thriller

In [117]:
final_df = final_df.dropna(how='any')

In [126]:
pip install nltk

Collecting nltk
  Downloading https://files.pythonhosted.org/packages/92/75/ce35194d8e3022203cca0d2f896dbb88689f9b3fce8e9f9cff942913519d/nltk-3.5.zip (1.4MB)
     |████████████████████████████████| 1.4MB 954kB/s eta 0:00:01
Collecting click (from nltk)
  Downloading https://files.pythonhosted.org/packages/d2/3d/fa76db83bf75c4f8d338c2fd15c8d33fdd7ad23a9b5e57eb6c5de26b430e/click-7.1.2-py2.py3-none-any.whl (82kB)
     |████████████████████████████████| 92kB 1.7MB/s eta 0:00:01
Requirement already satisfied: joblib in /home/goutham/snap/jupyter/common/lib/python3.7/site-packages (from nltk) (1.0.0)
Collecting regex (from nltk)
  Downloading https://files.pythonhosted.org/packages/20/28/ff0d0936a31f15a0879caf6dac1f1cbaab1fc7b9e8baf8a1d5a70380fb22/regex-2020.11.13-cp37-cp37m-manylinux2010_x86_64.whl (667kB)
     |████████████████████████████████| 675kB 2.4MB/s eta 0:00:01
Collecting tqdm (from nltk)
  Downloading https://files.pythonhosted.org/packages/80/02/8f8880a4fd6625461833abcf679d4c12a44c76f9925f92bf212bb6cefaad/tqdm-4.56.0-py2.py3-none-any.whl (72kB)
     |████████████████████████████████| 81kB 3.5MB/s eta 0:00:01
Building wheels for collected packages: nltk
  Building wheel for nltk (setup.py) ... done
  Stored in directory: /home/goutham/snap/jupyter/6/.cache/pip/wheels/ae/8c/3f/b1fe0ba04555b08b57ab52ab7f86023639a526d8bc8d384306
Successfully built nltk
Installing collected packages: click, regex, tqdm, nltk
Successfully installed click-7.1.2 nltk-3.5 regex-2020.11.13 tqdm-4.56.0
Note: you may need to restart the kernel to use updated packages.

In [129]:
import pandas as pd
import numpy as np
import nltk
from nltk.corpus import stopwords
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn import naive_bayes
from sklearn.metrics import roc_auc_score,accuracy_score
import pickle

In [136]:
import nltk
import ssl

try:
    _create_unverified_https_context = ssl._create_unverified_context
except AttributeError:
    pass
else:
    ssl._create_default_https_context = _create_unverified_https_context
    
nltk.download("stopwords")

[nltk_data] Downloading package stopwords to
[nltk_data]     /home/goutham/snap/jupyter/6/nltk_data...
[nltk_data]   Unzipping corpora/stopwords.zip.

True

In [138]:
dataset = pd.read_csv('reviews.txt',sep = '\t', names =['Reviews','Comments'])

In [139]:
stopset = set(stopwords.words('english'))

In [140]:
vectorizer = TfidfVectorizer(use_idf = True,lowercase = True, strip_accents='ascii',stop_words=stopset)

In [141]:
X = vectorizer.fit_transform(dataset.Comments)
y = dataset.Reviews
pickle.dump(vectorizer, open('tranform.pkl', 'wb'))

In [142]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.20, random_state=40)

In [143]:
clf = naive_bayes.MultinomialNB()
clf.fit(X_train,y_train)

MultinomialNB()

In [144]:
accuracy_score(y_test,clf.predict(X_test))*100

98.77167630057804

In [148]:
clf = naive_bayes.MultinomialNB()
clf.fit(X,y)

MultinomialNB()

In [150]:
accuracy_score(y_test,clf.predict(X_test))*100

99.20520231213872

In [152]:
filename = 'nlp_model.pkl'
pickle.dump(clf, open(filename, 'wb'))